<html>
    <!--주석은 이렇게 씀-->
    <title>
        <head>
            <title>join</title>
            </head>
            <body>
                <form method="post" action="join">
                    id
                    <input type="text" name="id" id="id"/>
                    <br/>
                    pw
                    <input
                        type="password" name="pw" id="pw"/>
                    </br>
                    <input 
                        type="submit" value="join"
                    >
                    </input>
                </form>
        </body>
</html>