<html>
    <!--주석은 이렇게 씀-->
    <title>
        <head>
            <title>login</title>
            </head>
            <body>
                <h1>login</h1> <!--윗줄에 login이라고 크게 적어 놓는 역활-->
                <form method="post" action="login">
                    id
                    <input type="text" name="id" id="id"/>
                    <br/>
                    pw
                    <input
                        type="password" name="pw" id="pw"/>
                    </br>
                    <input 
                        type="submit" value="login"/>
                        <a href="join">join</a>
                    </input>
                </form>
        </body>
</html>